html {
	font-size: var(--font-size-base);
}

body {
	display: flex;
	font-family: 'Inter', Helvetica, sans-serif;
	width: 80%;
	padding: var(--spacing-large);
	gap: var(--spacing-large);
}

.container {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-end;
	align-items: flex-end;
}

.front-page__headline {
	font-size: 6rem;
	font-weight: 500;
	line-height: 1.6;
}

.move-text {
	animation: moveText 2s ease forwards;
}

@keyframes moveText {
	0% { 
		transform: translateX(50px); 
	}
	100% { 
		transform: translateX(300px); 
	}
}
