html {
	font-size: var(--font-size-base);
}

body {
	width: 100%;
	font-family: 'Inter', Helvetica, sans-serif;
	/* display: flex;
	flex-flow: row wrap; */
	padding: var(--spacing-large);
	gap: var(--spacing-large);
}

header {
	position: relative;
	display: flex;
	justify-content: flex-start;
	margin-bottom: var(--spacing-medium);
	color: var(--color-accent-4);
}

.component-library__title {
	font-size: 2rem;
	font-weight: 400;
}

aside {
	position: absolute;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.overview {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row: 1;
	display: flex;
	flex-flow: row wrap;
	/* TODO: add padding? */
	/* padding-top: 50px;  */
}

.overview__buttons {
	align-self: flex-end;
	line-height: 1.4;
}

.overview__button {
	color: var(--color-secondary);
	transition: transform 0.5s ease;
}

.overview__button:hover {
	color: var(--color-accent-2);
	transform: translateX(10px);
}

.return__button {
line-height: 4rem;
}

.component {
	display: none;
	flex-flow: column nowrap;
	gap: var(--spacing-large);
	grid-column-start: 5;
	grid-column-end: 12;
	grid-row: 1;
}

.component--visible {
	display: flex;
}

.component-state {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	gap: var(--spacing-medium);
}

.component-state__name {
	color: var(--color-primary);
}

.component-state__variant {
	font-size: var(--font-size-small);
}

ul {
	transition: trans;
}