:root {
	--font-size-base: 30px;
	--font-size-small: 20px;
/* TODO: husk å bytte font strl til 20px */

	--color-primary: black;
	--color-secondary: hsl(0, 0%, 65%);
	--color-tertiary: hsl(0, 0%, 90%);

	--color-accent-1: #E25E3E;
	--color-accent-2: #fbc375;
	--color-accent-3: rgb(255, 255, 255);
	--color-accent-4: #FF9B50;
	--color-accent-5: #C63D2F;

	--border-radius: 5px;

	--spacing-small: 0.3rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
}