.alert {
	display: flex;
	justify-content: center;
	width: 12.7rem;
	font-size: var(--font-size-base);
	font-weight: 500;
	color: var(--color-accent-3);
	background: var(--color-accent-2);
	border-radius: var(--border-radius);
	padding: var(--spacing-small);
}

.alert-second {
	background: var(--color-accent-1);
}

.component-triggers__button {
	color: var(--color-secondary);
	font-size: var(--font-size-small);
	width: 6.2rem;
	border: 2px solid var(--color-secondary);
	border-radius: var(--border-radius);
	padding: var(--spacing-small);
}

.component-triggers__button:hover {
	color: var(--color-primary);
	border: 2px solid var(--color-primary);
}

.toast-container {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
}

.toast-animation {
	animation: toastIt 3000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
	margin-bottom: var(--spacing-small);
}

@keyframes toastIt {
	0%,
	100% {
		transform: translateY(-150%);
		opacity: 0;
	}
	10%,
	90% {
		transform: translateY(0);
		opacity: 1;
	}
}