.button__toggle {
	color: var(--color-accent-1);
	border: 2px solid var(--color-accent-1);
	border-radius: var(--border-radius);
	padding: var(--spacing-small);
}

.button--hover .button__toggle,
.button__toggle:hover {
	background-color: var(--color-accent-2);
}

.button--active .button__toggle,
.button__toggle:active {
	color: var(--color-accent-2);
	background-color: var(--color-accent-1);
}