.choicechip__container{
	display: flex;
	flex-flow: row nowrap;
	gap: var(--spacing-small);
}

.choicechip__button {
	color: var(--color-accent-1);
	border: 2px solid var(--color-accent-1);
	border-radius: var(--border-radius);
	background-color: var(--color-accent-3);
	padding: var(--spacing-small);
	width: 4rem;
}

.choicechip__button:hover,
.choicechip--hover .choicechip__button {
	background-color: var(--color-accent-4);
	border: 2px solid var(--color-accent-1);
}

.choicechip__button:active,
.choicechip--active .choicechip__button {
	background-color: var(--color-accent-2);
}
