.input {
	display: flex;
	flex-flow: column wrap;
	gap: var(--spacing-medium);
}

.input-input {
	border: 2px solid var(--color-accent-2);
	border-radius: var(--border-radius);
	width: 12rem;
	padding: var(--spacing-small);
}

.input-input::placeholder {
	font-size: var(--font-size-small);
	color: var(--color-accent-2);
}

.input-input:focus {
	border: 2px solid var(--color-accent-1);
}

input[type="text"]{
	font-size: var(--font-size-small);
}

.input--active .input-input {
	border: 2px solid var(--color-accent-1);
}

.input--active .input-input::placeholder {
	color: var(--color-accent-1);
}

.input-button {
	background-color: var(--color-tertiary);
	color: var(--color-secondary);
	border-radius: var(--border-radius);
	padding: var(--spacing-small);
	margin-top: var(--spacing-medium);
}

.input-button:hover {
	color: var(--color-accent-3);
	background: var(--color-accent-2);
}